#contacto{
	.leftCard{
		background-image: url("../media/msj.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.form-control{
		color: $colorLightBlue;
		background-color: $bgTransparentBlack;
		border-color: $colorSemiBlack;
		&:focus{
			color: $colorWhite;
		    background-color: $bgTransparentBlack;
		    border-color: #80bdff;
		    outline: 0;
		    box-shadow: none;
		}
	}
	.msg{
	color: #ffffff70;
	-webkit-text-stroke: 1px black;
	}
	.btnForm{
		@include pdButton;
		font-weight: bold;
		color: $colorLightBlue;
		background-color: $colorSemiBlack;
		border: none;
	}
	textarea{
		resize: none;
	}
}

.recibido{
	color: $colorWhite;
	-webkit-text-stroke: 1.4px $colorSemiBlack;
}

.mensaje{
	height: 75vh;
	background-image: url("../media/recibido.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.volver{
	background-color: $colorRed;
	color: $colorLightBlue;
	&:hover{
		background-color: $colorSemiBlack;
		color: $colorWhite;
	}
}

@media (max-width: 576px) {
	.mensaje{
		background-image: url("../media/recibidomb.jpg");
	}
}



