#shop{
	.btnShop{
		@include pdButton;
		font-weight: bold;
		background-color: $colorBlack;
		border: none;
	}
	.card{
		transition: all 300ms;
		&:hover{
			transform: scale(1.1);
		}
	}
	.badge{
		color: $colorLightBlue;
		background-color: $colorRed;
	}
}

.modal-content{
	background-color: $colorSemiBlack;
	color: $colorLightBlue;
}

.wspColor{
	color: $colorWhatsApp;
	transition: all 300ms;
	&:hover{
		color: #128C7E;
	}
}