$colorLightBlue: #5bc6d0;
$colorBlack: #0f0f0f;
$colorSemiBlack: #201e1f;
$colorRed: #e31b23;
$colorWhite: #fff;
$colorGrey: #6c757d;
$colorFacebook: #4867aa;
$colorInstagram: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
$colorYouTube: #ff0000;

$mainFont: 'Montserrat', sans-serif;

$bgBtn: #0f0f0fcf;
$bgTransparentBlack: #0f0f0fad;
$bgTransparentWhite: #a4a1a17a;
